<h1>All Buildings</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Building Name</th>
        <th>Address</th>
        <th>Available Floors</th>
      </tr>
    </thead>
    <tbody>
      <% @buildings.each do |building| %>
        <tr>
          <td><%= link_to building.name, building_path(building.id) %></td>
          <td><%= building.address %></td>
          <td><%= building.available_floors.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
</table>
